/*@each $name, $weight, $style in $font__types {
  @include font-face($font__family, $font__path+$name, $weight, $style, $font__ext);
}*/

html {

  height: 100%;

  font-size: $font__size;
  line-height: $font__line-height;
  @include breakpoint($desktop__laptop) {
    font-size: 16px;
  }
  @include breakpoint($tablet__all) {
    font-size: 15px;
  }
  @include breakpoint(($width__mobile-min + 1) $width__tablet-port) {
    font-size: 14px;
  }
  @include breakpoint($width__min ($width__mobile-min + 1)) {
    font-size: 12px;
  }
}

body {

  margin: 0;
  padding: 0;

  color: $color__font--primary;
  font-family: $font__family, $font__style;
  font-size: $font__size;
  font-weight: $font__weight;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

p,
a,
b,
span,
li {
  font-size: rem($font__size);
}

a {
  color: $color__font--primary;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;

  transition: .3s;

  &:hover,
  &:focus {
    text-decoration: none;

    outline: 0;
  }

  @include breakpoint($tablet__all) {
    font-size: 18px;
    line-height: 24px;
  }
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;

  pointer-events: none;

  user-select: none;
}

embed,
iframe,
object,
textarea {
  width: 100%;
}


