.dropdown {
  position: relative;

  margin-right: 3rem;

  cursor: pointer;

  &__title {
    align-items: center;

    position: relative;

    display: flex;

    font-weight: 400;

    text-transform: capitalize;

    span {
      @include semi-cross(8px, 6px, 1px, $color__dark, 225deg);
      position: relative;
      top: -3px;
      left: 8px;
    }
  }

  &__list {
    position: absolute;
    top: 25px;
    left: -25px;
    z-index: z(top-content);

    min-width: 100px;
    max-height: 0;
    overflow: hidden;

    border-radius: 6px;

    background: $color__light;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, .04);

    transition: all .2s;

    &.active {
      max-height: 300px;
    }
  }

  &__item {
    width: 100%;

    padding: 12px 0;

    text-align: center;

    &:hover {
      background-color: $color__secondary;
    }
  }

  &__range {
    @extend .dropdown__list;
    flex-direction: column;

    z-index: z(bg-content);

    display: flex;

    width: 250px;


    box-shadow: 0px 0px 32px rgba(0, 0, 0, .04);

    transition: all 0s;

    &.active {
      z-index: z(top-content);

      padding: 30px 20px 10px;
       @include breakpoint ($phone__all) {
         transform: translateX(-50%);
         left: 50%;
        }
    }

    &-inputs {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 40px;
    }

    &-label {
      display: block;
      width: 100%;
      height: 100%;
    }

    &-input {
      width: inherit;
      height: inherit;
      box-sizing: border-box;

      padding: 12px 8px;

      border: 1px solid rgba(0, 0, 0, .08);
      border-radius: 6px;

      font-size: 14px;
      font-weight: 100;
    }

    &-slider {
      position: relative;

      width: calc(100% - 20px);

      margin: 50px auto 0;

    }

    &-search {
      margin-top: 1rem;
      margin-left: auto;
      padding: 6px 12px;
    }

    &-from, &-to {
      position: absolute;
      top: -30px;

      color: rgba($color__font--primary, .8);
      font-weight: 300;
      text-transform: uppercase;
    }

    &-from {
      left: 0;
    }

    &-to {
      right: 0;
    }
  }

  &.sort {

    @include burgerLines(2, 2px, $color__dark);
    display: none;
    width: 24px;
    height: 10px;
    @include breakpoint($phone__all) {
      display: block;

      margin-left: 40px;
      .dropdown__list.active {
        left: unset;
        right: 0;
      }
      .dropdown__title {
        display: none;
      }
    }


  }
}

.vue-slider {

  &-rail {
    height: 2px !important;
  }

  &-process {
    background-color: $color__primary !important;
  }

  &-dot-handle {
    background-color: $color__primary !important;
  }

  &-dot-tooltip {
    display: none !important;
  }
}

