.search {

  align-items: center;
  justify-content: space-between;

  display: flex;
  width: 100%;

  margin: 25px 0;

  &__filters {
    align-items: center;

    display: flex;
  }

  &__reset {
    margin: 0 !important;
    @include breakpoint ($phone__all) {
      display: none;
    }
  }


}

.main {
  padding-top: 60px;
  min-height: 100vh;
}

